fastapi==0.115.12
loguru==0.7.3
pydantic[email]==2.11.1
pydantic_settings==2.8.1
pytest==8.3.5
PyYAML==6.0.2
result==0.17.0
sqlmodel==0.0.24
ruff
pre-commit-hooks
ollama
pytest-asyncio
pytest-dotenv
langchain-ollama
langchain-google-genai
rapidfuzz==3.6.1
httpx==0.27.0